MySQL-Vault/.obsidian/*

!MySQL-Vault/.obsidian/plugins/
!MySQL-Vault/.obsidian/themes/
!MySQL-Vault/.obsidian/appearance.json
!MySQL-Vault/.obsidian/core-plugins.json
!MySQL-Vault/.obsidian/community-plugins.json
!MySQL-Vault/.obsidian/graph.json
!MySQL-Vault/.obsidian/app.json

MySQL-Vault/.obsidian/workspace.json
MySQL-Vault/.obsidian/workspace-mobile.json
MySQL-Vault/.obsidian/plugins/*/data.json
